* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    min-width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1111px;
    height: 32px;
    margin-top: 60px;
}

.selected {
    color: #5FB4A2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 100%;
}

nav h2 {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;

    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
}

main h1 {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
    height: 84px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.contact h2 {
    width: 367px;
    height: 84px;

    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.contact span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 168px;
    height: 48px;
    border: 1px solid black;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;

    cursor: pointer;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80px;

    background: #33323D;
}

footer h2 {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;

    cursor: pointer;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1111px;
    height: 100%;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 418px;
}

.footer-right {
    display: flex;
    justify-content: space-between;

    width: 104px;
    height: 24px;
}

.footer-right img {
    cursor: pointer;
}