section {
    width: 1110px;
    height: 600px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 58px;
    margin-bottom: 150px;

    background-image: url("../../assets/home/image-homepage-hero.jpg");
    background-size: cover;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 445px;
    height: 300px;
    /* position: relative;
    z-index: 1; */

    background-color: #FFFFFF;
}

.hero-text h1 {
    width: 390px;
    height: 200px;
    margin: 20px 20px;

    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;

    color: #33323D;
}

.hero-about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 48px;
    background-color: #203A4C;
}

.hero-about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    background-color: #1e3445;
}

.hero-about-text {
    width: 152px;
    height: 14px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 540px;
    height: 600px;
}

.profile-subsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 430px;
    height: 600px;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.profile h2 {
    width: 430px;
    height: 42px;
    margin-top: 52px;
    margin-bottom: 28px;

    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.profile p {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.go-to-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 204px;
    height: 48px;
    border: 1px solid black;
    margin-top: 24px;
    margin-bottom: 46px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;

    cursor: pointer;
}